* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, 'segoe', 'Roboto', 'fielvetica neve',sans-serif;
    background: #fff4;
    text-decoration: nome;
}

.navbar {
    display: flex;
    
    justify-content: center;
}